<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backup</title>
    <%-include('../assets/public/materialize.ejs')%>
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            background-color: lightgrey;
            background-image: url("../assets/images/mbs2.jpg");
            background-size: cover;
            height: 100vh;
        }
        main {
            flex: 1 0 auto;
        }
        .card-container{
            padding: 1em 2.5em;
        }
        .card{
            border-radius: 10px;
            height: 500px;
            margin: 2.5em 2.5em;
        }
        .main-left{
            overflow: auto;
        }
        .main-middle{
            padding: 1em !important;
        }
        .main-right{
            overflow: auto;
        }
        ::-webkit-scrollbar {
            display: none;
        }
    </style>
    
</head>
<body>
    <%-include('./partials/navbar.ejs')%>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="../../assets/apiCalls/jwt-decode.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="../../assets/apiCalls/jwt-decode.js"></script>
    <script src="https://cdn.socket.io/3.1.1/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/webtorrent@latest/webtorrent.min.js"></script>


    <script> 
        let token = Cookies.get('Web_Torrent_Token');
        var decoded = jwt_decode(token);
        const socket=io();
    </script>
    <main > 
        <%-include('./partials/socket.ejs')%>
        <div class="row card-container">
            <div class="row col s2 card white main-left">
                <%-include('./partials/serverRooms.ejs')%>
            </div>
            <div class="col s7 card white main-middle">
                <%-include('./partials/serverData.ejs')%>
            </div>
            <div class="col s2 card white main-right">
                <%-include('./partials/serverParticipants.ejs')%>
            </div>
        </div>

    </main>

    <%-include('./partials/footer.ejs')%>

</body>
</html>